@import "../../../sass/variables";

.radioRoot {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  padding: 14px 0 14px 14px;

  &:hover .radioWrapper .radio {
    border-color: $primary;
  }

  .radioWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1px;
    margin-right: 22px;

    input {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      z-index: 1;
      position: absolute;
      opacity: 0;
      cursor: inherit;

      &:checked {
        + .radio {
          border-color: $primary;
          &::after {
            transform: translate(-50%, -50%) scale(1);
          }
        }
      }
    }

    .radio {
      height: 14px;
      width: 14px;
      border: solid 2px $dark-gray;
      transition: border-color 300ms ease-in-out;
      border-radius: 100%;
      position: relative;

      &::after {
        border-radius: 100%;
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transform-origin: center center;
        background-color: $primary;
        transition: transform 300ms ease-in-out;
      }
    }
  }

  .radioLabel {
    font-size: 14px;
  }

  .radiOptionalText {
    display: flex;
    font-size: 14px;
  }

  &.size-20 .radioWrapper .radio {
    height: 20px !important;
    width: 20px !important;
    &::after {
      width: 10px;
      height: 10px;
    }
  }
}
