@import "../../../sass/variables";

.registerForm {
  margin-top: 56px;
  .codeInput {
    margin-bottom: 40px;
  }
}
.formStepSix {
  margin-top: 40px;
}
ul.listPassword {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  li {
    padding-left: 1em;
    text-indent: -1em;
  }

  li:before {
    content: "-";
    padding-right: 6px;
  }
}
