@import "../../sass/variables";

.methodOption {
  display: flex;

  .inputMethod {
    text-align: left;

    .ellipse {
      width: 72px;
      height: 72px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $gray-6;
      border-radius: 50%;
      margin-bottom: 24px;
    }

    .methodText {
      h5 {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 8px;
      }
      p {
        font-size: 12px;
        font-weight: 400;
        color: $gray-7;
      }
    }
  }
}

.uploadXlsx {
  .footer {
    margin-top: 32px;
    text-align: center;

    p {
      font-size: 14px;
      color: $gray-7;
    }

    a {
      font-size: 14px;
      color: $primary;
      font-weight: 500;
    }
  }
}

.verification {
  .action {
    display: flex;

    .sync {
      color: $success;
      margin-right: 12px;
    }
    .edit {
      color: $warning;
      margin-right: 12px;
    }
    .delete {
      color: $danger;
    }
  }

  .progressBar {
    width: 100%;
    height: calc(100vh - 410px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;

    .mainButton {
      justify-content: center;
      max-width: 376px;
      display: flex;
      align-items: center;

      svg {
        margin-right: 8px;
      }
    }
  }
}

.confirmation {
  .total {
    justify-content: flex-end;
    display: flex;
    text-align: right;
    margin-top: 8px;
    table {
      border-collapse: collapse;
      tr {
        td {
          padding: 8px 16px;
          font-weight: 400;
          font-size: 14px;
        }
        &:last-child {
          background-color: $gray-6;
          td {
            font-weight: 500;
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;

    p {
      font-size: 14px;
    }
  }
}

.btn {
  display: flex;
  max-width: 376px;
  width: 100%;

  .backBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
  }
}
