@import "../../../sass/variables";

.radioCard {
  border-radius: 10px;
  border: 1px solid $gray-6;
  padding: 24px;
  align-items: flex-start;
  margin-bottom: 16px;
  transition: border-color 300ms ease-in-out;

  .radioRoot {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-bottom: 16px;
  
    &:hover .radioWrapper .radio {
      border-color: $primary;
    }
  
    .radioWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 1px;
      margin-right: 16px;
  
      input {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        z-index: 1;
        position: absolute;
        opacity: 0;
        cursor: inherit;
  
        &:checked {
          + .radio {
            border-color: $primary;
            &::after {
              transform: translate(-50%, -50%) scale(1);
            }
          }
        }
      }
  
      .radio {
        height: 20px;
        width: 20px;
        border: solid 2px $dark-gray;
        transition: border-color 300ms ease-in-out;
        border-radius: 100%;
        position: relative;
  
        &::after {
          border-radius: 100%;
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0);
          transform-origin: center center;
          background-color: $primary;
          transition: transform 300ms ease-in-out;
        }
      }
    }
  
    .radioLabel {
      font-weight: 500;
      font-size: 16px;
    }
  }

  .radioChildren {
    margin-left: 38px;
  
    p {
      font-size: 14px;
      color: $dark-gray;
  
      span {
        color: $primary;
        font-weight: 500;
      }
    }
  }
}

.borderChecked {
  border: 1px solid $primary;
}
