@import "../../../sass/variables";

.subHeading {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
}

.errorSaldoLessThan {
  border: 1px solid $danger;
  border-radius: 6px;
  padding: 18px 26px;

  p {
    color: $danger;
    font-size: 14.5px;
    font-weight: 500;
  }
}

.total {
  justify-content: flex-end;
  display: flex;
  text-align: right;
  margin-top: 8px;
  table {
    border-collapse: collapse;
    tr {
      td {
        padding: 8px 16px;
        font-weight: 400;
        font-size: 14px;
      }
      &:last-child {
        background-color: $gray-6;
        td {
          font-weight: 500;
        }
      }
    }
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;

  button {
    max-width: 376px;
  }

  .btnContinue {
    color: $white;
    background-color: $primary;
  }
}

.selectBank {
  max-width: 232px;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;

  .info {
    width: 70%;
    padding-right: 16px;

    p {
      font-size: 12px;
    }
  }

  .confirm {
    width: 30%;

    .confirmBtn {
      width: 100%;
      padding: 18px;
      background-color: $primary;
      color: $white;
      border-radius: 10px;
    }
  }
}

.verification {
  .totalNominal {
    background-color: $gray-6;
    font-weight: 700;
    font-size: 24px;
  }

  .codeInput {
    max-width: 376px;
    width: 100%;
  }
}

.paymentMethod {
  .spacing {
    padding: 0;
  }
}
