*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  cursor: pointer;
  outline: 0;
  position: relative;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;

  &:focus {
    outline: none;
  }
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

hr {
  margin-top: 24px;
  margin-bottom: 24px;
  border: 1px solid $gray-6;
}
