//color
$primary: #007aff;
$primary-light: #e6f2ff;
$warning: #ff9500;
$danger: #ff3b30;
$danger-light: #ffeceb;
$success: #34c759;
$success-light: #ebfaef;
$muted: #8e8e93;

$dark-gray: #85858b;
$gray-light: #78788033;
$gray-3: #f3f3f3;
$gray-4: #d1d1d6;
$gray-5: #e5e5e5;
$gray-5-light: #e5e5ea;
$gray-6: #f2f2f7;
$gray-7: #8a8a8e;
$muted: #a3a3a3;
$ocean: #e5f2ff;

$dark: #000;
$white: #fff;

//layout
$sidebar-width: 280px;
