@import "../../../sass/variables";

.radioGroup {
  border: none;

  .radioGroupLabel {
    font-weight: 500;
    margin-bottom: 8px;
  }

  &.row {
    .radio:not(:last-child) {
      margin-right: 24px;
    }
  }
  &.col {
    .radio:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}
