@import "../../sass/variables";

.buttonRoot {
  // base
  display: block;
  border: 0;
  cursor: pointer;
  outline: 0;
  position: relative;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  transition: background-color 250ms ease-in-out;
  color: inherit;

  &:focus {
    outline: none;
  }

  &:active {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($dark, 0.05);
      z-index: 1;
      border-radius: inherit;
    }
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    &::after {
      background-color: transparent;
    }
  }
}
