@import "../../sass/variables";

.loadingSpinnerRoot {
  display: block;
  animation: spinnerRotate 1.4s linear infinite;
  color: $white;

  circle {
    animation: spinnerDash 1.4s ease-in-out infinite;
    stroke-dasharray: 80px, 200px;
    stroke-dashoffset: 0px;
  }
}

.btnLoading {
  display: flex;
  align-items: center;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .75rem;
  }
}

.loadingDotsRoot {
  color: $gray-5-light;

  .dot {
    &:not(:last-child) {
      margin-right: 8px;
    }
    &:nth-child(1) {
      animation: dotScale 1500ms infinite ease-in-out;
      animation-delay: 200ms;
    }
    &:nth-child(2) {
      animation: dotScale 1500ms infinite ease-in-out;
      animation-delay: 400ms;
    }
    &:nth-child(3) {
      animation: dotScale 1500ms infinite ease-in-out;
      animation-delay: 600ms;
    }
  }
}

.progressRoot {
  position: absolute;
  left: 0;
  right: 0;

  .progressBar {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 2px;
    background-color: $primary;
    animation-duration: 1200ms;
    animation-name: loadingbar;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transform-origin: center;
  }
}

@keyframes dotScale {
  0%,
  100% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes loadingbar {
  0% {
    transform: scaleX(0);
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scaleX(1);
  }
}

@keyframes spinnerDash {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0px;
  }
  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}
