@import "../../sass/variables";

.tabContent {
  position: relative;
}

.tabNav {
  position: relative;

  &.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  display: flex;
  border-bottom: 1px solid $gray-4;
  overflow-x: auto;
  align-items: center;

  // //hide scroll
  // -ms-overflow-style: none;
  // scrollbar-width: none;
  // &::-webkit-scrollbar {
  //   display: none;
  // }

  .tabIndicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    border-radius: 1px 1px 0 0;
    background-color: $primary;
    transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1), left 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .tabWrapper {
    z-index: 1;
    display: flex;
    align-items: center;

    .tabTitle {
      cursor: pointer;
      padding: 22px 16px;
      font-weight: 500;
      color: $dark-gray;
    }

    &.active {
      .tabTitle p {
        color: $primary;
      }
    }
  }

  //variant tabFullWidth
  &.tabFullWidth .tabWrapper {
    flex-grow: 1;
    justify-content: center;
    height: 100%;

    .tabTitle {
      padding: 0;
      height: 100%;
      width: 100%;
    }
  }
}
