@import "../../sass/variables";

.toast {
  border-radius: 10px;
  padding: 20px 18px;
  font-size: 14px;
  font-weight: 400;
  background-color: $primary-light;
  color: $primary;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &.danger {
    background-color: $danger-light;
    color: $danger;
  }

  &.success {
    background-color: $success-light;
    color: $success;
  }
}
