@import "../../sass/variables";

.widget {
  padding-bottom: 48px;
}

.button {
  width: auto;
  padding: 24px 8px 24px 24px;
  display: inline-flex;
  align-items: center;

  svg {
    margin-left: 32px;
    flex-shrink: 0;
  }
}

.list {
  list-style: none;
  height: calc(100vh - 369px);
  min-height: 92px;
  overflow: auto;
  position: relative;
  padding: 12px 0;

  li {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    .ellipse {
      color: $muted;
      margin-right: 16px;
      flex-shrink: 0;
    }

    .status {
      width: 100%;
      display: flex;
      justify-content: space-between;

      p {
        font-size: 14px;
        line-height: 14px;

        span {
          font-weight: 500;
        }
      }
    }
  }
}
