@import "../../sass/variables";

.widget {
  background-color: $white;
  border: 1px solid $gray-5;
  padding: 24px;
  width: 100%;
  border-radius: 10px;
  position: relative;

  .heading {
    font-size: 14px;
    color: $dark-gray;
    display: flex;
    margin-bottom: 14px;
    p {
      margin-right: 8px;
    }
    svg {
      flex-shrink: 0;
    }
  }
  .content {
    font-size: 20px;
    font-weight: 700;
  }
  .loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($white, 0.5);
      z-index: 1;
      border-radius: inherit;
    }
  }
}
