@import "../../sass/variables";

.btnOcean {
  background-color: $ocean;
  color: $primary;
  border-radius: 10px;
  padding: 9px 16px;
  font-weight: 500;
  font-size: 14px;
  display: block;
  text-align: center;
}
