@import "../../../sass/variables";

.customSelect {
  .selectControl {
    background-color: unset;
    border: 0;
    border-radius: unset;
    cursor: text;
    min-height: 20px;
    padding-top: 20px;
    padding-right: 38px;
    box-shadow: none;
    position: relative;

    &.isClearable {
      padding-right: 45px;
    }

    .selectValueContainer {
      padding: 0;
      min-height: inherit;
      transition: border-color 200ms ease-in-out;

      &.error {
        border-bottom: 1px solid $danger;
      }

      input {
        position: absolute;
        height: 20px;
        line-height: 1.25rem;
        font-family: inherit;
      }

      p {
        line-height: 1.25rem;
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .singleValue {
        font-weight: 500;
        line-height: 1.25rem;
        margin: 0;
        position: static;
        transform: none;
      }

      .selectInputWrapper {
        position: absolute;
        top: 0;
        left: 0;
        color: $dark;
      }
    }

    .arrowDown,
    .closeIcon {
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateY(-2px);
      display: flex;
      justify-content: center;
      align-items: center;
      color: $primary;
    }

    .arrowDown {
      right: -4px;
    }
    .closeIcon {
      right: 24px;
    }
  }

  &.outlined {
    .selectControl {
      padding: 12px;
      min-height: 14px;
      padding-right: 48px;
      border: 1px solid $gray-5-light;
      border-radius: 10px;
      transition: border-color 200ms ease-in-out;
      &.error {
        border-color: $danger;
      }
      &.isClearable {
        padding-right: 56px;
      }

      .selectValueContainer {
        border: 0;
        font-size: 14px;
        input {
          height: 14px;
          line-height: 1;
        }

        p {
          line-height: 1;
        }

        .placeholder {
          color: $dark-gray;
        }

        .singleValue {
          font-weight: 400;
          line-height: 1;
        }
      }

      .arrowDown,
      .closeIcon {
        transform: translateY(-50%);
        color: $dark;
      }
      .arrowDown {
        right: 12px;
      }
      .closeIcon {
        right: 40px;
      }
    }
  }

  .customMenu {
    font-size: 14px;
    color: $dark-gray;
  }
}
