@import "../../sass/variables";

.sidebar {
  width: $sidebar-width;
  height: 100%;
  background-color: $white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  .header {
    padding: 0 24px;
    margin-bottom: 24px;
    .userCard {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
    }
    .userCard,
    .depositCard {
      background-color: $gray-3;
      padding: 16px;
      border-radius: 10px;

      .avatar {
        flex-shrink: 0;
        border-radius: 100%;
        position: relative;
        overflow: hidden;
        width: 44px;
        height: 44px;
        border: 1px solid $gray-6;
        margin-right: 16px;

        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          object-position: center;
        }
      }

      .primaryText {
        font-weight: 500;
      }
      .secondaryText {
        color: $dark-gray;
        font-size: 12px;
      }
      .dot {
        margin: 0 4px;
      }
    }
  }

  .menuNav {
    list-style: none;

    .menuItem {
      padding: 12px 0;
      .menuLink {
        height: 24px;
        padding: 0 24px;
        display: flex;
        align-items: center;
        color: $dark-gray;
        transition: color 250ms ease-in-out;

        svg {
          margin-right: 16px;
        }
        .menuText {
          font-weight: 500;
        }

        &:hover,
        &.active {
          color: $primary;
        }
      }
    }
  }

  .activeIndicator {
    position: absolute;
    height: 24px;
    width: 2px;
    background-color: $primary;
    transition: top 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (max-width: 992px) {
    background-color: $white;
    opacity: 0;
    z-index: -1;

    &.open {
      opacity: 1;
      z-index: 2;
    }
  }
}
