@import "../../../sass/variables";

.calendarBtn {
  color: $primary;
  position: absolute;
  top: 50%;
  right: -8px;
  transform: translateY(-50%) translateY(-2px);
  border-radius: 100%;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customInput {
  width: 100%;
  height: 38px;
  border-radius: 10px;
  border: 1px solid $gray-5-light;
  position: relative;
  padding: 12px;

  p {
    font-size: 14px;
    line-height: 14px;
    text-align: left;
  }

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
  }
}
