@import "../../sass/variables";

.alert {
  padding: 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  line-height: 18px;

  .icon {
    margin-right: 16px;
    flex-shrink: 0;
  }

  &.primary {
    background-color: rgba($primary, 0.1);
    color: $primary;
  }

  &.success {
    background-color: rgba($success, 0.1);
    color: $success;
  }

  &.danger {
    background-color: rgba($danger, 0.1);
    color: $danger;
  }
}
