@import "../../../sass/variables";

.radioRoot {
  cursor: pointer;
  display: flex;
  align-items: flex-start;

  &:hover .radioWrapper .radio {
    border-color: $primary;
  }

  .radioWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 15px;

    input {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      z-index: 1;
      position: absolute;
      opacity: 0;
      cursor: inherit;

      &:checked {
        + .radio {
          border-color: $primary;
          &::after {
            transform: translate(-50%, -50%) scale(1);
          }
        }
      }
    }

    .radio {
      height: 14px;
      width: 14px;
      border: solid 2px $dark-gray;
      transition: border-color 300ms ease-in-out;
      border-radius: 100%;
      position: relative;

      &::after {
        border-radius: 100%;
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transform-origin: center center;
        background-color: $primary;
        transition: transform 300ms ease-in-out;
      }
    }
  }

  .radioLabel {
    padding: 16px;
    flex: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: border 200ms ease-in-out, background-color 200ms ease-in-out;

    &.checked {
      border-color: rgba($primary, 0.4);
      background-color: rgba($primary, 0.1);
    }
  }
}
