@import "../../sass/variables";

.modal {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    top: 0;
    left: 0;
  }
  .modalWrapper {
    background-color: $white;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    max-width: 440px;
    max-height: calc(100% - 8px);
    width: calc(100% - 32px);
    border-radius: 10px;

    .modalHead {
      font-weight: 500;
      border-bottom: 1px solid $gray-6;

      .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
        p {
          line-height: 1;
        }
        button {
          display: flex;
          color: $primary;
          flex-shrink: 0;
        }
      }
    }

    .modalBody {
      padding-top: 24px;
    }
  }
}
