@import "../../sass/variables";

.simpleCard {
  padding-top: 16px;
  padding-bottom: 24px;

  .createBtnWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      max-width: 220px;
    }
  }
}

.modalHead {
  font-size: 20px;
  font-weight: 700;
}

.form {
  padding: 32px 8px;
  height: calc(100vh - 228px);
  overflow: auto;
  line-height: 1.5;

  &.stepThree {
    padding: 32px 0;
  }
}

.loading {
  border-radius: inherit;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($white, 0.5);
    z-index: 1;
    border-radius: inherit;
  }
}

.dataInfo {
  padding: 24px;
  border-radius: 10px;
  border: 1px solid $gray-5-light;

  .list {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 16px;
    }

    .label {
      min-width: 42px;
    }
    .separator {
      margin-left: 16px;
      margin-right: 16px;
      flex-shrink: 0;
    }
    .value {
      font-weight: 500;
      flex: 1;
    }
  }
}

.btnWrapper {
  width: 100%;
  max-width: 376px;
}
