@import "../../sass/variables";

.rippleRoot {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;

  overflow: hidden;
  border-radius: inherit;
  pointer-events: none;

  span {
    transform: scale(0);
    border-radius: 100%;
    position: absolute;
    background-color: rgba($dark, 0.1);

    animation-name: ripple;
    animation-duration: 300ms;
    animation-timing-function: ease-in;

    @keyframes ripple {
      from {
        opacity: 1;
        transform: scale(0);
      }
      to {
        opacity: 0;
        transform: scale(2);
        border-radius: 0;
      }
    }
  }

  @keyframes rippleStart {
    from {
      border-radius: 100%;
      opacity: 0;
      transform: scale(0);
    }
    to {
      opacity: 1;
      border-radius: 0;
      transform: scale(2);
    }
  }
  @keyframes rippleEnd {
    from {
      opacity: 1;
      border-radius: 0;
      transform: scale(2);
    }

    to {
      opacity: 0;
      transform: scale(2);
      border-radius: 0;
    }
  }
}
