@import "../../sass/variables";

.wrapper {
  max-width: 720px;

  .btnCopy {
    padding: 12px 32px;
    border-radius: 10px;
    border: 1px solid $gray-5;
    font-weight: 700;
    font-size: 16px;
    color: $primary;
  }

  .howToTransfer {
    list-style: none;

    li {
      display: flex;
      margin-bottom: 16px;

      span {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $primary;
        color: $white;
        font-size: 12px;
        font-weight: 700;
        margin-right: 24px;
        flex-shrink: 0;
      }
      p {
        word-break: break-word;
      }
    }
  }
}
