@import "../../sass/variables";

.topControl {
  display: flex;
  flex-wrap: nowrap;

  .filterWrapper {
    flex: 1 1 auto;
  }
}

.tableWrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
  position: relative;

  border-radius: 10px;
  border: 1px solid $gray-6;

  .table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 16px;
      vertical-align: middle;
      text-align: left;
      font-weight: 400;

      &.right {
        text-align: right;
      }
      &.center {
        text-align: center;
      }
      &.noData {
        text-align: center;
        padding: 32px;
        color: $dark-gray;
      }
    }

    thead {
      font-size: 12px;
      background-color: $gray-6;
      color: rgba($muted, 0.6);
      position: relative;

      tr {
        text-transform: uppercase;
        &.loadingRow {
          th,
          td {
            padding: 0;
          }
        }
      }
    }
    tbody {
      font-size: 14px;

      tr:not(:last-child) {
        border-bottom: 1px solid $gray-6;
      }
    }
  }
}

.bottomControl {
  margin-top: 24px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;

  .paginationWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    button {
      display: flex;
      padding: 8px 12px;
      border-radius: 10px;
      background-color: $gray-6;
      &:not(:last-child) {
        margin-right: 8px;
      }

      &.buttonNav {
        padding: 4px;
        &:first-child {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
        &:last-child {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }

      &.active {
        background-color: $primary;
        color: $white;
      }
    }
  }

  .show {
    display: flex;
    align-items: center;

    .showText {
      color: rgba($muted, 0.6);
    }

    select {
      margin-left: 8px;
    }
  }
}
