@import "../../sass/variables";

.fileDrop {
  padding: 24px;
  border: 2px dashed $primary;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  input {
    display: none;
  }

  .uploadButton {
    max-width: 158px;
    padding: 12px 8px;
    font-weight: 500;
    margin-bottom: 24px;
  }

  .textPrimary {
    font-size: 14px;
    font-weight: 500;
  }
  .textSecondary {
    font-size: 14px;
    color: $dark-gray;
  }

  &.draggingOver {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($dark, 0.3);
      z-index: 1;
      border-radius: inherit;
    }
  }
}
