@import "../../sass/variables";

.formWrapper {
  display: flex;
  justify-content: center;
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 376px;

    @media screen and (max-width: 992px) {
      width: 100%;
      max-width: 376px;
    }
  }
}

.successImg {
  height: 256px;
  margin-top: 53px;
  margin-bottom: 24px;
}
.successText {
  line-height: 24px;
  margin-bottom: 56px;
}

.loadingRoot {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($dark, 0.2);
  }
}
