@import "../sass/variables";

.mainLayout {
  background-color: $gray-6;

  .hamburgerWrapper {
    position: fixed;
    top: 8px;
    right: 8px;
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: unset;
    border: unset;
    outline: unset;
    touch-action: manipulation;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: $primary;
    .hamburgerMenu {
      width: 22.5px;
      height: 15px;
      position: relative;
      transition: transform 220ms ease-in-out;
      transform-origin: center;
      div {
        background-color: #fff;
        width: 22.5px;
        height: 1.5px;
        transition: background-color 150ms ease-in-out 0ms, width 500ms ease-in-out 150ms,
          transform 300ms ease-in-out 150ms;
      }
      div:nth-child(1) {
        width: 19.5px;
        position: absolute;
        top: 0;
      }
      div:nth-child(2) {
        width: 15px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
      }
      div:nth-child(3) {
        width: 22.5px;
        position: absolute;
        bottom: 0;
      }
      &.active {
        transform: rotate(-180deg);
        div {
          width: 22.5px;
        }
        div:nth-child(3) {
          transform: translate3d(0, -6.75px, 0) rotate(-45deg);
        }
        div:nth-child(2) {
          transform: scaleX(0);
        }
        div:nth-child(1) {
          transform: translate3d(0, 6.75px, 0) rotate(45deg);
        }
      }
    }
  }

  .mainApp {
    padding-left: $sidebar-width;
    min-height: 100vh;

    .mainAppContent {
      padding: 40px 24px 24px 24px;
    }

    @media screen and (max-width: 992px) {
      padding: unset;
    }
  }
}

.authLayout {
  min-height: 100vh;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
