@import "../../sass/variables";

.formGroup {
  width: 100%;
  padding: 12px 20px 8px 20px;
  background-color: $gray-6;
  border-radius: 10px;
  position: relative;

  .formGroupWrapper {
    position: relative;

    .formLabel {
      display: block;
      color: $dark-gray;
      font-size: 12px;
      cursor: text;

      &.animate {
        font-size: 16px;
        transform: translate(0, 0) scale(0.75);
        transform-origin: top left;
        transition: color 200ms ease-in-out, transform 200ms ease-in-out;
        top: 0;
        left: 0;
        position: absolute;

        &.shrink {
          transform: translate(0, 9px) scale(1);

          + * {
            input {
              &::placeholder {
                color: transparent;
              }
            }
          }
        }
      }
    }

    .inputWrapper {
      .formControl {
        textarea {
          resize: none;
          scrollbar-width: none;
          -ms-overflow-style: none;

          &::-webkit-scrollbar {
            display: none;
          }
        }

        select,
        input,
        textarea {
          width: 100%;
          display: block;

          font-family: inherit;
          font-size: 16px;
          line-height: 1.25;
          font-weight: 400;
          background: none;
          border: 0;
          border-bottom: 1px solid transparent;
          padding-top: 20px;
          box-shadow: none;
          transition: border-color 200ms ease-in-out;

          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          -ms-appearance: none;

          // &:disabled {
          //   border-color: $muted;
          // }

          &:focus {
            outline: none;
          }

          &::placeholder {
            opacity: 1;
            color: $dark-gray;
            transition: color 200ms ease-in-out;
          }
        }

        .eyeBtn {
          position: absolute;
          top: 50%;
          right: -44px;
          transform: translateY(-50%) translateY(-2px);
          border-radius: 100%;
          padding: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $dark-gray;
        }

        &.formControlLoading {
          padding-right: 66px;
        }
      }
    }

    // helpertext
    .helperText {
      display: block;
      text-align: left;
      color: $dark;
      font-size: 12px;
    }
  }

  // error
  &.formGroupError {
    .formGroupWrapper .inputWrapper .formControl {
      input,
      textarea {
        border-bottom: 1px solid $danger;
      }
    }
    .helperText {
      color: $danger;
    }
  }

  &.formGroupPassword {
    padding-right: 56px;
  }

  // disabled
  &.disabled::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($dark, 0.1);
    z-index: 1;
    border-radius: inherit;
  }

  .loading {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.formGroup2 {
  width: 100%;

  .formLabel {
    display: block;
    font-weight: 500;
    margin-bottom: 16px;
  }

  .inputWrapper {
    .formControl {
      height: 38px;

      textarea {
        resize: none;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      select,
      input,
      textarea {
        height: 100%;
        width: 100%;
        display: block;

        font-family: inherit;
        font-size: 14px;
        line-height: 1;
        font-weight: 400;
        background: none;
        border-radius: 10px;
        border: 1px solid $gray-5-light;
        padding: 12px;
        box-shadow: none;
        transition: border-color 200ms ease-in-out;

        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;

        &:disabled {
          border-color: $muted;
        }

        &:focus {
          outline: none;
        }

        &::placeholder {
          opacity: 1;
          color: $dark-gray;
          transition: color 200ms ease-in-out;
        }
      }
    }
  }

  // helpertext
  .helperText {
    display: block;
    text-align: left;
    color: $dark;
    font-size: 12px;
  }

  // error
  &.formGroupError {
    .helperText {
      color: $danger;
    }
  }
}

.tooltip {
  background-color: $white;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid $gray-5-light;
  font-size: 12px;
  line-height: 20px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  &.showTooltip {
    visibility: visible;
    opacity: 1;
  }
}
